main {
	flex: 1 1 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	color: rgb(226, 215, 215);
	font-size: xx-large;
}

.city {
	color: white;
}

.temperature {
	color: white;
}
